.font_err {
    color: #FF0000;
}
.textfiled {
	border:1px solid #cccccc;
	background:#fff;
	color:#333333;
	line-height:28px;
	height:28px;
	font-size:12px;
	padding:0px 3px;
}
.textarea{
	border:1px solid #cccccc;
	background:#fff;
	color:#333333;
	line-height:28px;
	overflow:auto;
}
.select{
	border:1px solid #cccccc;
	background:#fff;
	color:#333333;
	padding:5px 3px; 
	font-size:11px;
}
button.btn_2 { 
	padding:2px 10px;
	height:40px;
	border:#c1c1c1 solid 1px;
	background:#fff;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	white-space:nowrap;
	vertical-align:middle;
	cursor:pointer;
	overflow:visible;
	text-transform:uppercase;
	color:#585858;
	font-weight:normal;
	font-size:17px;
}

.btnSubmit { 
	
	
	border:none;
	
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:5px;
	white-space:nowrap;
	vertical-align:middle;
	cursor:pointer;
	overflow:visible;
	text-transform:uppercase;
}

button.btn span {
	display:inline-block;
	vertical-align:middle;
	color:#fff;
	font-weight:normal;
	font-size:17px;
}

button.btn:hover, button.btn:focus{
	border:none;
	background:#af2026;
	background-image:none;
	background-image:none;
}
.mess_buy_cart{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CACACA;
	-webkit-box-shadow: 2px 2px 1px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    2px 2px 1px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         2px 2px 1px 0px rgba(50, 50, 50, 0.2);
	padding: 15px;
	color:#555555;
	font-weight:normal;
}
.row_item_cart_b td{
	height:30px;
	background:#FFF;
}
.td2{
	padding-top:5px;
	padding-bottom:3px;
}

.check_same{
	background:url(../images/icon_check_same.gif) right no-repeat;
	padding-right:30px;
}
.tbl_confirm h3{
	color:#f58634;
	text-transform:uppercase;
	border-bottom:#999999 solid 1px;
	padding-bottom:5px;
	margin-bottom:10px;
}
.title_p_cart a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	font-weight:bold;
}
.title_p_cart a:hover{
	color:#f58634;
	text-decoration:none;
}